*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: black;
    flex-direction: column;
    background-image:url('../assets/back.png');
}

 



h1 {
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 7px;
  
}

.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(3, 3, 3, 0.567);
    background-image: linear-gradient( 105.9deg,  rgba(0,122,184,1) 24.4%, rgba(46,0,184,0.88) 80.5% );
}





canvas {
    background-color: #f4f0eb;
    background-size: cover;
    border: 1px solid #919396;
    box-shadow: 0 10px 20px rgba(16, 16, 16, 0.567);
    width: 1000px;
    min-height: 700px;
    display: block;
}

#toolbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    width: 100%;
/* background-image: linear-gradient( 105.9deg,  rgba(0,122,184,1) 24.4%, rgba(46,0,184,0.88) 80.5% ); */
}

#toolbar * {
    margin-bottom: 0 5px;
  
}

#toolbar label {
    font-size: 20px;
    font-family: "Finger Paint", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #fff;
    padding: 1rem;

}

#toolbar input {
    width: 150px;
    border:none;
    
}

#lineWidth{
    height: 28px;
    padding: 0.8rem;
}

#toolbar button {
    background-color: #4e4bed;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 22px;
    font-family: "Finger Paint", sans-serif;
    font-weight: 400;
    font-style: normal;
    cursor:pointer;
    transition: background-color 0.3s ease;
    margin:1rem;
}

#toolbar button:hover{
    background-color:white;
    color:#4e4bed;
}


